.catalogo{
    width: 100%;
    margin: 0px;
    display: inline-block;
    position:relative;

}

.catalogo h1{
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.catalogo h1 a{
    font-size: 18px;
    font-weight: 700;
}

.catalog-list{
    margin-top: 30px;
    position: relative;
}

.catalogo li{
    float:left;
    display:inline;
}

/**
------Estilos de cada item----

*/

.catalog-list .Game-Image{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    position: relative;
    float: inherit;
}

.catalog-list .Game-Image img{
    width: 100%;
    height: 100%;
}

.Catalog-Item .Catalog-Title{
    padding: 12px 12px;
    position: inherit;
    margin: 0;
}

.Catalog-Item .Catalog-Title h1{
    float: inherit;
    color: blueviolet;
    margin: 0;
}

.Catalog-Item .Catalog-Category{
    margin: 0;
    overflow: hidden;
}

#triple li{
    width:33.333%;
}