.catalogo, .carrito{
    width: 100%;
    margin: 0px;
    display: inline-block;
    position:relative;

}

.catalogo h1, .carrito h1{
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.catalogo h1 a, .carrito h1 a{
    font-size: 18px;
    font-weight: 700;
}

.catalog-list, .carrito-list{
    margin-top: 30px;
    position: relative;
}

.catalogo li, .carrito li{
    float:left;
    display:inline;
}

#content {
    width:960px;
    margin:0 auto;
    padding:10px 0 20px 0;
    position:relative;
}

.title{
    text-transform: uppercase;
    display: inline-block;
    float: left;

    font-size: 40px;
    margin: 0 0 20px 40px;
}

.wrap-title{
    border-bottom: solid #ffffff;
}

.right{
    float: right;
}

/**
------Estilos de cada item----

*/

.catalog-list .Game-Image, .carrito-list .Game-Image{
    width: 200px;
    height: 300px;
    margin-top: 20px;
    position: relative;
    float: inherit;
}

.catalog-list .Game-Image img, .carrito-list .Game-Image img{
    width: 100%;
    height: 100%;
}

.Catalog-Item .Catalog-Title, .Carrito-Item .Carrito-Title{
    padding: 12px 12px;
    position: inherit;
    margin: 0;
}

.Catalog-Item .Catalog-Title h1, .Carrito-Item .Carrito-Title h1{
    float: inherit;
    color: blueviolet;
    margin: 0;
}

.Catalog-Item .Catalog-Category, .Carrito-Item .Carrito-Category{
    margin: 0;
    overflow: hidden;
}

#triple li{
    width:33.333%;
}